.navContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: #110000;
}

.logoContainerExt {
    display: inline-block;
    margin: 4rem 0 0 1.89rem;
    height: 7.75rem;
    width: auto;
}

.logoContainerInt {
    display: flex;
    /*height: 7.75rem;
  width: 23.06rem;*/
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logoImg {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

.logoText1 {
    display: inline-block;
    font-family: "Istok Web";
    font-size: 1.5rem;
    line-height: 2.16rem;
    font-weight: 400;
    margin-right: 0.63rem;
    cursor: pointer;
}

.logoTextSeperator {
    display: inline-block;
    margin-right: 0.44rem;
    cursor: pointer;
}

.logoText2 {
    display: inline-block;
    font-family: "Istok Web";
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.88rem;
    cursor: pointer;
}

.linkSectionExt {
    display: inline-block;
    width: 34.13rem;
    margin-top: 1.7rem;
}

.linkSectionInt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.linkItem {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.44rem;
}

.linkItemActive {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.44rem;
    color: #8FF086;
    cursor: pointer;
}

.linkItem:hover {
    color: #8FF086;
    cursor: pointer;
}

.buttonContainerExt {
    display: inline-block;
    margin: 1.7rem 7.25rem 0 0;
    position: relative;
}

.buttonContainerInt {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
                -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
}

.user {
    cursor: pointer;
}

.user::first-letter {
    text-transform: uppercase;
}

.logoutShow {
    display: inline-block;
    position: absolute;
    top: 1.75rem;
    cursor: pointer;
    
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
}

.logoutHidden {
    display: inline-block;
    position: absolute;
    top: 1.75rem;
    display: none;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

}

.loginButton {
    width: 9rem;
    height: 3.13rem;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.81rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141220;
    border-radius: 25px;
    cursor: pointer;
}

.signUpButton {
    width: 9rem;
    height: 3.13rem;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.81rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(146.86deg, rgba(241, 46, 122, 0.76) 16.74%, rgba(219, 69, 123, 0.9) 26.67%, rgba(217, 24, 209, 0.76) 53.01%, #8308F9 79.85%, rgba(114, 7, 250, 0.97) 112.15%);
    border-radius: 25px;
    margin-left: 1.5rem;
    cursor: pointer;
}

/*fix for the <Link> formating / doesnt work in-line jsx  */

.signUpButton:-webkit-any-link {
    text-decoration: none;
}



.hamburgerMenu {
    width: 4rem;
    height: 3rem;
    position: absolute;
    top: 1.38rem;
    right: 1.38rem;
}

.hamburgerMenu:hover {
    cursor: pointer;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
